<div class="container">
  <%= form_for @dish  do |f| %>
    <div class="form-group">
      <label for="">Name</label>
      <input type="text" name="dish[name]" id="dish_name" class="form-control">
    </div>
    <div class="form-group">
      <label for="user_last_name">Price</label>
      <input type="text" name="dish[name]" id="dish_price" class="form-control">    </div>
    <div class="form-group">
      <label for="user_password">Restaurant</label>
      <input type="text" name="dish[name]" id="dish_restaurant" class="form-control">    </div>
    </div>
    <button type="submit" class="btn btn-success center-block">Submit</button>
  <% end %>

</div>
